.searchBar {
	padding: 8px 8px 24px;

	&__form {
		display: flex;
		justify-content: space-between;
		border: 3px solid $bordercolor;
		border-radius: 500px;
	}
	&__text {
		flex-grow: 1;
		border: none;
		margin-right: 4px;
		background-color: $button-color;
		color: $font-color;
		width: calc(100% - 52px);
		font-size: 20px;
		padding: 12px 0 12px 12px;
		outline: none;
		&::placeholder {
			color: $fadecolor;
		}
	}
	&__button {
		border: none;
		i {
			font-size: 28px;
		}
	}

	&__button:hover,
	&__button:focus {
		border: none;
		box-shadow: none;
		text-shadow: 4px 2px 5px $text-shadow-color;
	}

	&__form:focus-within,
	&__form:hover {
		box-shadow: 4px 2px 5px $text-shadow-color;
	}
}
