.rain {
	background-color: $background-color;
	background-image: url("../img/rain.jpg");
}
.snow {
	background-color: $background-color;
	background-image: url("../img/snow.jpg");
}
.night {
	background-color: $background-color;
	background-image: url("../img/night.jpg");
}
.fog {
	background-color: $background-color;
	background-image: url("../img/fog.jpg");
}
.clouds {
	background-color: $background-color;
	background-image: url("../img/clouds.jpg");
}
.clear-sky {
	background-color: $background-color;
	background-image: url("../img/clear-sky.jpg");
}
.few-clouds {
	background-color: $background-color;
	background-image: url("../img/clear-sky.jpg");
}
.scattered-clouds {
	background-color: $background-color;
	background-image: url("../img/scattered-clouds.jpg");
}
.thunderstorm {
	background-color: $background-color;
	background-image: url("../img/thunderstorm.jpg");
}