.rain {
	background-color: $background-color;
}
.snow {
	background-color: $background-color;
}
.night {
	background-color: $background-color;
}
.fog {
	background-color: $background-color;
}
.clouds {
	background-color: $background-color;
}
.clear-sky {
	background-color: $background-color;
}
.few-clouds {
	background-color: $background-color;
}
.scattered-clouds {
	background-color: $background-color;
}
.thunderstorm {
	background-color: $background-color;
}
